.ipynb_checkpoints
**/__pycache__/**

*.pyc

saved_experiments/**
!saved_experiments/README.md
results
!results/.gitkeep
tables*
graphs
plots/*
!plots/.gitkeep

data/**
!data/README.md

gpn.egg-info
.portal
.cache
.clj-kondo
.calva

TARGET_DIR
